.cards__content {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: 1fr 1fr;
  gap: 17px 17px;
  max-width: 880px;
  justify-content: center;
  padding: 0 24px;
}
