.card {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 282px;
  max-height: 361px;
}

.card__image {
  border-radius: 10px 10px 0px 0px;
  background-color: #000000;
  flex-grow: 1;
  max-height: 282px;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  padding-right: 22.24px;
}

.card__footer:hover {
}

.card__text {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  padding: 25px 0 31px 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__favorite {
  margin: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.card__favorite::before {
  content: url(../images/heart_favorite_icon.svg);
  display: flex;
  margin: 0;
  padding: 0;
  align-self: center;
  max-width: 20.76px;
  max-height: 18.13px;
  cursor: pointer;
  background-color: transparent;
}

.card__favorite:hover::before {
  opacity: 0.5;
}
