.footer__copyright {
  /* width: 318px; */
  /* height: 18px; */
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin-left: 200px;
  padding-top: 67px;
  padding-bottom: 60px;
}
