.header {
  margin: 0 auto;
  max-width: 880px;
  padding: 45px 0 0 0;
}

.header_title {
  max-width: 173px;
}

.header__separator {
  display: flex;
  margin: auto;
  max-width: 100%;
  padding-top: 41px;
}
