.header {
  margin: 0 auto;
  max-width: 880px;
  padding: 45px 0 36px 0;
  border-bottom: 1px rgba(84, 84, 84, 0.7) solid;
}

@media (max-width: 920px) {
  .header {
    padding-bottom: 28px 0;
  }
}
