
.profile__avatar-container {
  display: flex;
}

.avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 3.75px 26.25px 3.75px 0;
}

.profile-container {
  display: flex;
  margin: auto;
  padding: 40px 19px 51px 19px;
  justify-content: space-between;
  align-items: center;
  max-width: 918px;
  box-sizing: border-box;
}

.profile {
  display: flex;
  margin: 0;
}

.profile__title {
  display: flex;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  max-width: 373px;
  margin: 0;
}

.profile__title-description {
  margin-top: 22px;
}

.profile__description {
  color: #ffffff;
  max-width: 415px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 0;
}

.profile__title-container {
  margin: 0;
  display: flex;
  align-items: center;
}

.edit-button {
  align-self: center;
  padding: 0;
  background-color:black;
  height: 24px;
  width: 24px;
  margin-left: 18px;
  box-sizing: border-box;
  border: 1px #ffffff;
  border-style: solid;

}

.edit-button__icon {
  padding: 7px 7px;
}

.add-button {
  display: flex;
  box-sizing: border-box;
  min-width: 150px;
  max-height: 50px;
  background-color: black;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 2px #ffffff;
  border-style: solid;
  border-radius: 2px;
}

.add-button__icon {
  height: 22px;
  width: 22px;
  padding-top: 14px;
  padding-bottom: 14px;
}

@media(max-width: 775px) {
  .profile-container {
  flex-direction: column;
  justify-content: center;
}
  .profile {
  flex-direction: column;
  justify-content: center;
}
  .profile__avatar-container  {
  justify-content: center;
}
.profile__description  {
  text-align: center;
}
.add-button {
  margin-top: 36px;
}
}

@media(max-width: 452px) {
  .profile__title {
  font-size: 22px;
  margin-bottom: 0;
}
.add-button {
  display: block;
  max-height: 50px;
  width: 100%;
}
}
