.profile-container__contents {
  display: flex;
  margin: auto;
  padding: 40px 19px 51px 19px;
  justify-content: space-between;
  align-items: center;
  max-width: 918px;
  box-sizing: border-box;
}

@media (max-width: 775px) {
  .profile-container__contents {
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 452px) {
  .profile-container__contents {
    font-size: 22px;
    padding-bottom: 36px;
  }
}
