.card {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 282px;
  position: relative;
}

.card__image {
  border-radius: 10px 10px 0px 0px;
  height: 282px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  padding: 25px 18px 25px 21px;
}

.card__like-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}

.card__text {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-shrink: 2;
}

.card__button-favorite {
  background-image: url(../images/favorite_icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 1;
  width: 21px;
  height: 19px;
  margin: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.card__button-favorite:hover {
  opacity: 0.5;
}

.card__button-favorite_state_active {
  background-image: url(../images/favorite_icon_active.svg);
}

.card__favorite-counter {
  width: 9px;
  height: 13px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: black;
  margin: 0;
  padding: 3 24 0 0;
}

.card__button-delete {
  background-image: url(../images/delete_trash_icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 18px;
  height: 19.3px;
  margin: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  top: 23.79px;
  right: 16.28px;
  z-index: 1;
}

.card__button-delete:hover {
  opacity: 0.6;
}

.card__button-delete_hide {
  visibility: hidden;;
}