.footer {
  display: flex;
  margin: auto;
  max-width: 880px;
}

.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
  max-width: 318px;
  padding-top: 67px;
  padding-bottom: 60px;
}

@media (min-width: 629px) and (max-width: 927px) {
  .footer {
    max-width: 615px;
  }
  .footer__copyright {
    margin-left: 17px;
  }
}

@media (min-width: 351px) and (max-width: 628px) {
  .footer {
    max-width: 316px;
  }
  .footer__copyright {
    margin: auto;
  }
}

@media (max-width: 350px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 0 17px;
    max-width: 282px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
